apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  labels:
    app: config-server
spec:
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: server
          # Built from https://github.com/maleck13/fserver
          # Listens on 8383 and serves the entire config for /config and the specific server config for /config/{server}
          image: quay.io/maleck13/config_server:latest
          volumeMounts:
            - name: config
              mountPath: /static
      volumes:
        - name: config
          configMap:
            name: acl-config
