apiVersion: kuadrant.io/v1
kind: AuthPolicy
metadata:
  name: mcps-auth-policy
  namespace: gateway-system
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: mcp-gateway
    sectionName: mcps
  defaults:
    rules:
      metadata:
        rbac: #fetches hard coded acl currrently
          http:
            urlExpression: '"http://acl-config.mcp-system.svc.cluster.local:8181/config/"+request.headers[":authority"]'
      authentication: #validates the token
        'keycloak':
          jwt:
            issuerUrl: http://keycloak.keycloak.svc.cluster.local/realms/mcp
      authorization: #authorizes the tool call
        'allow-tool-call':
          patternMatching:
            patterns:
              - predicate: auth.identity.groups.exists(g, request.headers['x-mcp-toolname'] in auth.metadata.rbac.access[g])
      response: #duplicated content may be able to solve
        unauthorized:
          code: 403
          body:
            value: |
              {
                "error": "Forbidden", 
                "message": "MCP Tool Access denied. Insufficient permissions for this tool."
              }
        unauthenticated:
          code: 401
          headers:
            'WWW-Authenticate':
              value: Bearer resource_metadata=http://mcp.127-0-0-1.sslip.io:8888/.well-known/oauth-protected-resource/mcp
          body:
            value: |
              {
                "error": "Forbidden",
                "message": "MCP Tool Access denied. Unauthenticated."
              }
