kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 30080 # MCP Gateway port
    hostPort: 8001
    protocol: TCP
  - containerPort: 30089 # keycloak port
    hostPort: 8002
    protocol: TCP
